{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style>
        #myInput::-webkit-inner-spin-button,
        #myInput::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        #myinput{
            width: 20px;
        }
    </style>
</head>
<body>
    <h1>Hello World!</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Subjects</th>
        </tr>
        
    </table>
    <form>
        <input type="number" name="quantity" min="0" max="100" id="myInput">
        <label>
            <input type="radio" name="option" value="option1"> Option 1
        </label>
        <label>
            <input type="radio" name="option" value="option2"> Option 2
        </label>

    </form>
</body>
</html>